
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cabin';
}

.container {
  width:100%;
  position:relative;
}

.navbar {
  height: 80px;
  background:#000;
  border-bottom:1px solid #fff;
  padding: 19px;
}

.navigation {
  padding: 29px;
  background: #000;
  border-bottom: 1px solid #fff;
}

#ricerca {
  padding:10px;
  width: 289px;
  border-radius: 5px;
  margin-right: 12px;
  font-size: 15px;
}

#bottone {
  padding:10px;
  border-radius: 4px;
  background: #f3bf49;
  font-size: 15px;
}


#entry-template {
  font-size:20px;
}

.lista_film {
  font-size:20px;
  margin-left: 39px;
  margin-top: 58px;
}

.fa, .fas {
  font-size:20px;
  color: #ffbf4c;
}

.wrapper {
  width:100%;
  position:relative;
}
